  <div id="<%= dom_id friend %>">
  <p>
    <div class="friend-card-name"><%= friend.first_name %> <%= friend.last_name %></div>
  </p>

  <p class='friend-card-subtext'>
    <%= friend.email %><br/>
    <%= friend.phone %><br/>
    <%= friend.twitter %>
  </p>
</div>
