<h1>Friends List</h1>

<div id="friends" data-controller='drag'>
  <% @friends.each do |friend| %>
  <% if friend.user == current_user%>
    <div class="friend-card">
      <%= render friend %>
      <div class='card-button-box'>
        <%= link_to "Details", friend, class:'btn btn-primary' %>
        <%= button_to "Delete", friend, method: :delete , class:'btn btn-secondary' %>
      </div>
  </div>
  <%end%>
  <% end %>
</div>
<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Twitter</th>
      <th>User Id</th>
      <th colspan='3'></th>
    </tr>
  </thead>
  <tbody>
    <% @friends.each do |friend|%>
    <% if friend.user == current_user%>
      <tr>
        <td><%= friend.first_name %></td> 
        <td><%= friend.last_name %></td> 
        <td><%= friend.email %></td> 
        <td><%= friend.phone %></td> 
        <td><%= friend.twitter %></td>
        <td><%= friend.user_id %></td>          
        <td><%= link_to "Show", friend %></td>
        <td><%= link_to "Edit", friend, method: :edit %></td>
        <td><%= button_to "Destroy", friend, method: :delete %></td>
      </tr>
      <%end%>
    <%end%>
  </tbody>
  </table>
<%= link_to "New friend", new_friend_path, class:'btn btn-secondary' %>
